$media-mobile-max: 767px !default;
$media-desktop-min: 768px !default;

@import "unsemantic/unsemantic-grid-responsive";
@import "typeplate/typeplate";

body {
  margin: 0;
  padding: 35px 10px;
  font-family: "ff-tisa-web-pro",serif;
}

a {
  color: #008CD2;
}

.wrap {
  @extend .grid-container;
  @extend .clearfix;
  padding: 35px 0;
  background-color: #fff;
  border-top: 4px solid #d44534;
  max-width: 850px;
}

header {
  margin-bottom: 30px;
  padding-bottom: 25px;
  border-bottom: 1px dotted #ddd;
  position: relative;

  h1 {
    @extend .beta;
    @include css-hyphens(none);
    font-family: "proxima-nova";
    font-weight: normal;
    text-transform: uppercase;
    color: #444;

    span {
      font-family: "proxima-nova",sans-serif;
      font-style: normal;
      font-weight: 100;
    }
  }

  .location {
    padding-top: 4px;
    font-size: 85%;

    dd, dt {
      font-family: "proxima-nova";

      a {
        color: #444;
        text-decoration: none;
        border-bottom: 1px dotted #ddd;

        &:hover {
          border-bottom: 1px solid #008CD2;
        }
      }
    }
  }
}

section.hero-unit {
  margin-bottom: 35px;
  padding-bottom: 30px;
  font-size: 20px;
  border-bottom: 1px solid #f47564;
}

section.info {
  font-size: 15px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #ddd;

  h4 {
    margin-bottom: 10px;
    font-family: "proxima-nova",sans-serif;
    font-style: normal;
    font-weight: 100;
    text-transform: uppercase;
  }
}

section.map {
  padding: 0;

  iframe,   
  object,  
  embed {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}